@import "tailwindcss";

@theme {
  --color-primary: #6dec13;
  --color-backgroundLight: #f7f8f6;
  --color-backgroundDark: #182210;
  --color-textDark: #141811;
  --color-textSecondary: #728961;
  --color-border: #e2e4e0;
}

@layer base {
  body {
    @apply bg-backgroundLight text-textDark font-sans;
  }
}

